body {
  margin: 0;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
}

body.background-white {
  background-color: white; 
}

/* ----------------------------------------INTRODUCION-NORMAL------------------------------------------------------------------------------------------------------------------------- */

.container {
  position: relative;
  height: 100vh; /* Ajustar la altura del contenedor principal */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar verticalmente el contenido */
}

.background-black .container {
  display: none; /* Ocultar la foto cuando el fondo es negro */
}

.background-white .container {
  display: block; /* Mostrar la foto cuando el fondo es blanco */
}

/* ----------------------------------------INTRODUCION-INFORMATICO------------------------------------------------------------------------------------------------------------------------- */

.container-informatico {
  position: relative;
  height: 100vh; /* Ajustar la altura del contenedor principal */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar verticalmente el contenido */
  color: white;
}

.background-black .container-informatico {
  display: block; /* Ocultar la foto cuando el fondo es negro */
}

.background-white .container-informatico {
  display: none; /* Mostrar la foto cuando el fondo es blanco */
}

/* ----------------------------------QUIEN SOY NOMAL-------------------------------------------------------------------------------------------------------------------------- */
.background-black .quiensoy {
  display: none;
}

.background-white .quiensoy {
  display: block;
}

.quiensoy {
  display: flex;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#contenido-quien-soy {
  display: flex;
  align-items: center;
  width: 100%;
}

#foto-quien-soy,
#texto-quien-soy {
  width: 100%; /* Cada elemento ocupa el 100% del ancho del contenedor padre */
  margin-bottom: 20px; /* Espacio entre la foto y el texto */
}

#texto-quien-soy{
  margin-right: 120px;
}

#foto-mia {
  border-radius: 15px;
  max-width: 500px; /* Ancho máximo de la foto */
  margin-right: 20px; /* Espacio a la derecha de la foto */
}

.background-black #foto-quien-soy {
  display: none; /* Ocultar la foto cuando el fondo es negro */
}

.background-white #foto-quien-soy {
  display: block; /* Mostrar la foto cuando el fondo es blanco */
}

/* ----------------------------------QUIEN SOY INFORMATICO-------------------------------------------------------------------------------------------------------------------- */

.background-black .quiensoy-informatico {
  display: block;
}

.background-white .quiensoy-informatico {
  display: none;
}

.quiensoy-informatico {
  color: white;
  display: flex;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#contenido-quien-soy-informatico {
  display: flex;
  align-items: center;
  width: 100%;
}

#foto-quien-soy-informatico,
#texto-quien-soy-informatico {
  width: 100%; /* Cada elemento ocupa el 100% del ancho del contenedor padre */
  margin-bottom: 20px; /* Espacio entre la foto y el texto */
}

#texto-quien-soy-informatico{
  margin-right: 120px;
}

#foto-mia-informatico {
  border-radius: 15px;
  max-width: 500px; /* Ancho máximo de la foto */
  margin-right: 20px; /* Espacio a la derecha de la foto */
}

.background-black #foto-quien-soy-informatico {
  display: block; /* Ocultar la foto cuando el fondo es negro */
}

.background-white #foto-quien-soy-informatico {
  display: none; /* Mostrar la foto cuando el fondo es blanco */
}

/* ----------------------------------------BOTON------------------------------------------------------------------------------------------------------------------------------ */

.comic-button {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 3px 3px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 120px;
  margin: auto; /* Centrar horizontalmente */
  margin-top: 20px; /* Espacio superior */
}

/* Estilos adicionales para el botón cuando el fondo es negro */
.background-black .comic-button {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
  box-shadow: 3px 3px 0px #000000;
}

.background-black .comic-button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #fff;
  box-shadow: 3px 3px 0px #ffffff;
}

/* Estilos adicionales para el botón cuando el fondo es blanco */
.background-white .comic-button {
  background-color: #000;
  color: #fff;
  border-color: #fff;
  box-shadow: 3px 3px 0px #fff;
}

.background-white .comic-button:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
  box-shadow: 3px 3px 0px #000;
}

.scrolled-down .comic-button {
  position: fixed;
  top: 20px;
  right: 20px;
}

