body {
  margin: 0;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 20px
}

body.background-white {
  background-color: white;
  color: black;
}

.container, .container-informatico, .quiensoy-cualidades, .quiensoy-informatico {
  display: none;
}

.background-white .container, .background-white .quiensoy-cualidades {
  display: flex;
}

.background-black .container-informatico, .background-black .quiensoy-informatico {
  display: flex;
}

.container, .container-informatico {
  position: relative;
  height: 100vh; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-content {
  text-align: center;
}

.quiensoy-cualidades, .quiensoy-informatico {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh; /* Ensure full height of viewport */
  padding: 20px 0; /* Add some vertical padding */
  box-sizing: border-box;

}

.quien-soy, .cualidades {
  flex: 1;
  padding: 20px;
  height: 600px;
}

#contenido-quien-soy, #contenido-cualidades, #contenido-quien-soy-informatico, #contenido-cualidades-informatico {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto; 
}

.texto-columna {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.foto-columna, .texto-columna {
  flex: 1;
  padding: 20px;
}

#foto-mia, #foto-mia-informatico, #foto-cualidades {
  max-width: 100%;
  border-radius: 15px;
  transition: 1s;
}

#foto-mia:hover, #foto-mia-informatico:hover, #foto-cualidades:hover {
  margin-top: -10px;
  transition: 1s;
  margin-bottom: 10px;
  box-shadow: 10px 10px 15px #7e7e7e;
}

#instagram, #linkedin {
  max-width: 100%;
  filter: grayscale(100%); 
  transition: 0.5s ease; 
  height: 50px;
}

#instagram:hover, #linkedin:hover {
  filter: grayscale(0%); 
}

.comic-button {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 3px 3px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 120px;
  margin: 20px auto;
}

.background-black .comic-button {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
  box-shadow: 3px 3px 0px #000000;
}

.background-black .comic-button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #fff;
  box-shadow: 3px 3px 0px #ffffff;
}

.background-white .comic-button {
  background-color: #000;
  color: #fff;
  border-color: #fff;
  box-shadow: 3px 3px 0px #fff;
}

.background-white .comic-button:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
  box-shadow: 3px 3px 0px #000;
}

.scrolled-down {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.separador  {
  transform: rotate(90deg);
  width: 200px;
  margin: 20px 0;
  border: none;
  border-top: 2px solid rgb(0, 0, 0); /* Color y estilo de la línea */
}

.separador-white {
  transform: rotate(90deg);
  width: 200px;
  margin: 20px 0;
  border: none;
  border-top: 2px solid rgb(0, 0, 0); /* Color y estilo de la línea */
}

.separador-black  {
  transform: rotate(90deg);
  width: 200px;
  margin: 20px 0;
  border: none;
  border-top: 2px solid rgb(255, 255, 255); 
}

.cualidades-tabla{
  font-size: 20px;
  width: 100%;
  max-width: 600px;
}

.cualidades-tabla img{
  height: 100px;
  transition: 1s;
}

.cualidades-tabla img:hover{
  margin-top: -10px;
  transition: 1s;
  margin-bottom: 10px;
}

.cualidades-tabla tr {
  width: 100%; 
}

.proyectos{
  text-align: center;
}

.imagen-deslizable {
  display: flex;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  scroll-snap-type: x mandatory; /* Especifica el comportamiento de desplazamiento */
  -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
  gap: 20px; /* Espacio entre las imágenes */
  padding: 20px 0; /* Añade un poco de espacio arriba y abajo */
  width: 100%;
}

.imagen-deslizable > img {
  flex-shrink: 0; /* Evita que las imágenes se reduzcan más allá de su tamaño original */
  width: auto; /* Permite que las imágenes mantengan su tamaño original */
  max-width: 100%; /* Ajusta el ancho máximo de las imágenes según sea necesario */
  border-radius: 15px;
  transition: 1s;
  height: 500px;
}

.imagen-deslizable > img:hover {
  margin-top: -10px;
  margin-bottom: 10px;
}

.imagen-deslizable::-webkit-scrollbar {
  height: 8px; /* Altura de la barra de desplazamiento */
  background-color: transparent; /* Color de fondo de la barra de desplazamiento */
}

.imagen-deslizable::-webkit-scrollbar-thumb {
  background-color: rgba(119, 119, 119, 0.5); /* Color del pulgar de la barra de desplazamiento */
  border-radius: 10px; /* Radio de borde del pulgar */
}

.imagen-deslizable::-webkit-scrollbar-thumb:hover {
  background-color: rgba(121, 121, 121, 0.7); /* Color del pulgar de la barra de desplazamiento al pasar el cursor sobre él */
}

.experiencia {
  margin: 100px;
  text-align: center;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.experiencia h1 {
  margin-bottom: 20px;
}

.texto-columna-no-informatico {
  display: flex;
  justify-content: center;
}


/* --------------------------------------------------- */

.cualidades-tabla-informatico{
  font-size: 20px;
  width: 100%;
  max-width: 600px;
}

.cualidades-tabla-informatico img{
  height: 100px;
  transition: 1s;
}

.cualidades-tabla-informatico img:hover{
  margin-top: -10px;
  transition: 1s;
  margin-bottom: 10px;
}

.cualidades-tabla-informatico tr {
  width: 100%; 
}

.proyectos-informatico{
  text-align: center;
}

.imagen-deslizable-informatico {
  display: flex;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  scroll-snap-type: x mandatory; /* Especifica el comportamiento de desplazamiento */
  -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
  gap: 20px; /* Espacio entre las imágenes */
  padding: 20px 0; /* Añade un poco de espacio arriba y abajo */
}

.imagen-deslizable-informatico > img {
  flex-shrink: 0; /* Evita que las imágenes se reduzcan más allá de su tamaño original */
  width: auto; /* Permite que las imágenes mantengan su tamaño original */
  max-width: 100%; /* Ajusta el ancho máximo de las imágenes según sea necesario */
  border-radius: 15px;
  transition: 1s;
  height: 500px;
}

.imagen-deslizable-informatico > img:hover {
  margin-top: -10px;
  margin-bottom: 10px;
}

.imagen-deslizable-informatico::-webkit-scrollbar {
  height: 8px; /* Altura de la barra de desplazamiento */
  background-color: transparent; /* Color de fondo de la barra de desplazamiento */
}

.imagen-deslizable-informatico::-webkit-scrollbar-thumb {
  background-color: rgba(119, 119, 119, 0.5); /* Color del pulgar de la barra de desplazamiento */
  border-radius: 10px; /* Radio de borde del pulgar */
}

.imagen-deslizable-informatico::-webkit-scrollbar-thumb:hover {
  background-color: rgba(121, 121, 121, 0.7); /* Color del pulgar de la barra de desplazamiento al pasar el cursor sobre él */
}

.experiencia-informatico {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.experiencia-informatico h1 {
  margin-bottom: 20px;
}

.texto-columna-informatico {
  display: flex;
  justify-content: center;
}

.experiencia-item {
  display: inline-block;
  margin: 0 20px; /* Agrega un margen entre las experiencias */
  text-align: center;
  padding: 50px;
}

.experiencia-item img {
  height: 300px;
  width: 500px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.experiencia-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.experiencia-item p {
  font-size: 18px;
}


/* --------------------------------------------------- */


.background-black .proyectos,
.background-black .experiencia {
  display: none; /* Oculta los elementos cuando el fondo es negro */
}

.background-white .proyectos,
.background-white .experiencia {
  display: block; /* Oculta los elementos cuando el fondo es negro */
}

.background-black .proyectos-informatico,
.background-black .experiencia-informatico {
  display: block; /* Oculta los elementos cuando el fondo es negro */
}

.background-white .proyectos-informatico,
.background-white .experiencia-informatico {
  display: none; /* Oculta los elementos cuando el fondo es negro */
}

/* Estilos para el footer blanco */
.footer-white {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}

/* Estilos para el footer negro */
.footer-black {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Estilos para el footer blanco */
.footer-white {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}

/* Estilos para el footer negro */
.footer-black {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}


.background-black .footer-black,
.background-black .footer-black {
  display: none; /* Oculta los elementos cuando el fondo es negro */
}

.background-white .footer-black,
.background-white .footer-black {
  display: block; /* Oculta los elementos cuando el fondo es negro */
}

.background-black .footer-white,
.background-black .footer-white {
  display: block; /* Oculta los elementos cuando el fondo es negro */
}

.background-white .footer-white,
.background-white .footer-white {
  display: none; /* Oculta los elementos cuando el fondo es negro */
}